.inputGroup {
    margin-top: 10px;
    border-radius:5px;
    padding:6px;
}
@media all and (min-width:767px){
    .set_font{
        font-size:30px;;
    }
}

@media all and (max-width:767px){
    .set_font{
        font-size:23px;;
    }
}

.anim {
    visibility: hidden;
    animation: FadeAnimation 5s ease-in 0s;
}

@keyframes FadeAnimation {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.no-show {
    visibility: hidden;
}