.inputGroup {
    margin-top: 10px;
    border-radius:5px;
    padding:6px;
}
@media all and (min-width:767px){
    .set_font{
        font-size:30px;;
    }
}

@media all and (max-width:767px){
    .set_font{
        font-size:23px;;
    }
}
.lds-dual-ring {
    display: flex;
    width: 64px;
    height: 64px;
    margin: auto;
}

.lds-dual-ring:after {
    content: " ";
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-self: center;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #4fc3f7;
    border-color: #4fc3f7 transparent grey transparent;
    animation: lds-dual-ring 0.5s linear infinite;
} 

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  
.anim {
    /* visibility: hidden; */
    /* animation: FadeAnimation 5s ease-in 0s; */
    color: red;
}

@keyframes FadeAnimation {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.no-show {
    visibility: hidden;
}